#home {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    margin-top: 40px;
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    text-align: center;
    padding: 50px;
  }
  
  .home-title {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    color: #444444;
  }
  
  .home-subtitle {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
    color: #ffb301;
  }
  
  .home-description {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 30px;
    color: #555555;
  }
  
  .home-button {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
    background-color: #ffb301;
    color: #ffffff;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .home-button:hover {
    background-color: #fda000;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    .home-title {
      font-size: 3rem;
    }
  
    .home-subtitle {
      font-size: 1.5rem;
    }
  
    .home-description {
      font-size: 1rem;
      margin-top: 20px;
    }
  
    .home-button {
      font-size: 1rem;
      padding: 10px 25px;
      margin-top: 20px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .home-title {
      font-size: 2.5rem;
    }
  
    .home-subtitle {
      font-size: 1.2rem;
    }
  
    .home-description {
      font-size: 1rem;
      margin-top: 20px;
    }
  
    .home-button {
      font-size: 1rem;
      padding: 10px 20px;
      margin-top: 20px;
    }
  }
  @media screen and (min-width:300px) and (max-width:479px)  {
    #home{
      margin-top: 80px;
    }
    .home-title{
      font-size: 2rem;
    }
    .home-description{
      text-align: center;
    }
  }