#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #ffffff;
  margin-top: 60px;
  padding: 30px;
}
#dark-mode-home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: black;
  margin-top: 60px;
  padding: 30px;
  color: #ffffff;
}
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.home-left {
  flex: 1;
  margin-right: 0;
}

.home-right {
  flex: 2;
  text-align: center;
}

.home-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffb301;
}

.home-description {
  font-size: 20px;
  margin-bottom: 30px;
}

.home-button {
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 50px;
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .home-content {
    flex-direction: row;
  }

  .home-left {
    margin-right: 40px;
  }

  .home-right {
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .home-content {
    max-width: 1400px;
  }
}

@media only screen and (max-width: 300px) {
  .home-title {
    font-size: 28px;
    margin-bottom: 5px;
  }

  .home-subtitle {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .home-description {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: left;
  }

  .home-button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
  }
}
